
@{
    ViewBag.Title = "Events";
}

<!-- Breadcrumb -->
<section class="section-contact mb-3">
    <div class="hero-wrapper p-4">
        <div class="hero-bg--overlay"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="hero-content d-flex align-items-center justify-content-center">
                    <div class="d-flex w-100 flex-column align-items-center justify-content-center">
                        <h3 class="text-white text-center">
                            Events
                        </h3>
                        <!-- <p class="text-white">Projects funded and handled by the association.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ breadcrumb -->


<!-- events Lagsoba'94 -->
<section class="section-project my-5">
    <div class="container lagsoba-project">
        <div class="row">
            <div class="col-12 col-md-12">
                <!-- <div class="text-center mb-5">
                  <h2> Join our next meet-up </h2>
                </div> -->

                <div class="project-card">
                    <div class="meta">
                        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>

                    </div>
                    <div class="description">
                        <h2>Opening a door to the future</h2>
                        <!-- <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
                        </p> -->
                        <ul class="details mt-3">
                            <li class="date"><i class="fas fa-calendar mr-2"></i> July 15, 2020</li>
                            <li class="date"><i class="fas fa-clock mr-2"></i> 9:00 am</li>
                            <li class="date"><i class="fas fa-map-marked mr-2"></i> Lagelu Grammer School</li>
                        </ul>
                    </div>
                </div>

                <div class="project-card alt">
                    <div class="meta">
                        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>

                    </div>
                    <div class="description">
                        <h2>Implementing Voting Management System</h2>
                        <ul class="details mt-3">
                            <li class="date"><i class="fas fa-calendar mr-2"></i> July 15, 2020</li>
                            <li class="date"><i class="fas fa-clock mr-2"></i> 9:00 am</li>
                            <li class="date"><i class="fas fa-map-marked mr-2"></i> Lagelu Grammer School</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-md-4">
              <div>
              </div>
            </div> -->
        </div>
    </div>
</section>
<!-- /.events Lagsoba'94 -->
