
@{
    ViewBag.Title = "Projects";
}

  <!-- Breadcrumb -->
  <section class="section-contact mb-3">
    <div class="hero-wrapper p-4">
      <div class="hero-bg--overlay"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="hero-content d-flex align-items-center justify-content-center">
            <div class="d-flex w-100 flex-column align-items-center justify-content-center">
              <h3 class="text-white text-center">
                Projects
              </h3>
              <p class="text-white">Projects funded and handled by the association.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./ breadcrumb -->

  <!-- blog Lagsoba'94 -->
  <section class="section-project my-5">
    <div class="container lagsoba-project">
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="text-center mb-5">
            <h2> Check out some of our recent projects </h2>
          </div>

          <div class="project-card">
            <div class="meta">
              <div class="photo" style="background-image: url(../Content/assets/img/gallery/6.jpeg)"></div>
              
            </div>
            <div class="description">
              <h2>Opening a door to the future</h2>
              <p> 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.
              </p>
              
            </div>
          </div>

          <div class="project-card alt">
            <div class="meta">
              <div class="photo" style="background-image: url(../Content/assets/img/gallery/6.jpeg)"></div>
              
            </div>
            <div class="description">
              <h2>Implementing Voting Management System</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repellendus, similique sit labore nam dolorum temporibus dolore, quia magni placeat reprehenderit ut. Earum, voluptates sed?
              </p>
              
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-md-4">
          <div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- /.blog Lagsoba'94 -->

