
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container{
            margin: 50px;
            padding: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert alert-danger">
            <p>You are not authorized to view this page.</p>
        </div>
    </div>
</body>
</html>
