
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Election Over</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container{
            margin: 50px;
            padding: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert alert-info">
            <p>There is currently no election, please try again soon. Thanks</p>
        </div>
    </div>
</body>
</html>
